In [1]:
import pandas as pd
import numpy as np

## filter session data (tokyo)

In [ ]:


# Load the CSV file from data/5minjan_aug/5min_6aug_23aug.csv
csv_path = 'data/5minjan_aug/5min_6aug_23aug.csv'
df = pd.read_csv(csv_path)
df['time'] = pd.to_datetime(df['time'], unit='s', utc=True)

# 3. Extract hour from datetime (UTC-based)
df['hour'] = df['time'].dt.hour

# 4. Define Tokyo session (00:00 to 09:00 UTC)
tokyo_df = df[(df['hour'] >= 0) & (df['hour'] < 9)].copy()

# 5. Drop helper column if not needed
tokyo_df.drop(columns=['hour'], inplace=True)

tokyo_df.head()

In [8]:
# Assume tokyo_df is already created (filtered Tokyo session data)

# 1. Create a date column (based on UTC date)
tokyo_df['date'] = tokyo_df['time'].dt.date
tokyo_df['day_name'] = tokyo_df['time'].dt.day_name()

# 2. Group by each day to get High & Low
daily_stats = tokyo_df.groupby(['date', 'day_name']).agg(
    High=('high', 'max'),
    Low=('low', 'min')
).reset_index()

# 3. Calculate difference in raw price
daily_stats['Difference'] = daily_stats['High'] - daily_stats['Low']

# 4. Convert to points and pips
# For XAUUSD:
# 1 point = 0.01
# 1 pip   = 0.1
daily_stats['Difference_points'] = (daily_stats['Difference'] / 0.01).astype(int)
daily_stats['Difference_pips'] = (daily_stats['Difference'] / 0.1).astype(int)

# 5. Arrange columns as required
final_df = daily_stats[['date', 'day_name', 'High', 'Low', 
                        'Difference', 'Difference_points', 'Difference_pips']]

# Show result
final_df

,date,day_name,High,Low,Difference,Difference_points,Difference_pips
0,2025-08-06,Wednesday,3378.845,3364.700,14.145,1414,141
1,2025-08-07,Thursday,3397.580,3365.305,32.275,3227,322
2,2025-08-08,Friday,3404.280,3381.215,23.065,2306,230
3,2025-08-11,Monday,3391.825,3357.020,34.805,3480,348
4,2025-08-12,Tuesday,3358.250,3342.310,15.940,1594,159
5,2025-08-13,Wednesday,3363.615,3342.635,20.980,2097,209
6,2025-08-14,Thursday,3374.805,3341.455,33.350,3334,333
7,2025-08-15,Friday,3348.915,3332.425,16.490,1648,164
8,2025-08-18,Monday,3358.490,3326.975,31.515,3151,315
9,2025-08-19,Tuesday,3341.885,3326.285,15.600,1560,156
10,2025-08-20,Wednesday,3327.610,3311.560,16.050,1605,160
11,2025-08-21,Thursday,3347.065,3334.285,12.780,1278,127
12,2025-08-22,Friday,3340.340,3325.380,14.960,1496,149